/* this css file will only style the homepage of our site */

.playfair-display-uniquifier> {
  font-family: "Lato", sans-serif;
  
}
.my-photo {
  margin: 8px;
  max-width: 100px;
}
.cat {
  margin: 8px;
  max-width: 100px;
}
.beach {
  margin:8px;
  max-width: 100px;
}

.my-photo {
  border-radius: 30px
}

