/* Font styles for headings */
h1, h2, h3 
  .playfair-display-uniquifier> {
    font-family: "Playfair Display", serif;
}

/* Font style for paragraphs */
p {
  font-family: 'Cormorant Garamond', serif;
}

/* Styling for sections with the 'minor-section' class */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #ffffff;
  background-color: #c5ebf9;
}
